@keyframes drawerOpenAnimation {
  from {
    right: -350px;
  }
  to {
    right: 0px;
  }
}

@keyframes drawerCloseAnimation {
  from {
    right: 0px;
  }
  to {
    right: -350px;
  }
}

#drawerBackground {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 201;
}

#drawerBody {
  color: white;
  flex: 1;
  overflow-y: auto;
}

#drawerBody::-webkit-scrollbar {
  width: 12px;
  background-color: #202020;
}
#drawerBody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #444444;
}
#drawerBody::-webkit-scrollbar-thumb:hover {
  background-color: #3949ab;
}
#drawerBody::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #202020;
  margin-right: 5px;
}

#drawerCard {
  padding: 1rem;
}

#drawerCard:hover {
  background-color: #262626;
}

#drawerExit {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
}

#drawerHeader {
  border-bottom: 1px solid #444444;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0.125rem 0 1rem;
}

#drawerPanel {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  height: 100vh;
  right: -350px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 350px;
  z-index: 202;
}

#drawerTitle {
  color: white;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
}

.node {
  cursor: pointer;
}

.overlay {
  background-color: #eee;
}

.node circle {
  fill: #fff;
  stroke: #3949ab;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
  display: none;
}

.hidden {
  display: none;
}

div.node_tooltip {
  text-align: center;
  font: 12px sans-serif;
  background: #191919;
  border: 0px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

div.node_tooltip a:link {
  color: #00c;
  text-decoration: underline;
} /* unvisited links */
div.node_tooltip a:visited {
  color: #3949ab;
} /* visited links   */
div.node_tooltip a:hover {
  color: #00c;
} /* user hovers     */
div.node_tooltip a:active {
  color: #ccc;
} /* active links    */

#hitbox {
  position: absolute;
  padding-left: 10px;
  margin-left: -8px;
}
#tooltipTitle {
  color: white;
  border-radius: 3px;
  margin-bottom: 3px;
}

#toolTipBtn {
  background-color: #3949ab;
  border-radius: 3px;
  color: white;
  padding: 5px;
}
#toolTipBtnLink {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#toolTipBtn:hover {
  background-color: #1b2b8d;
}
#tooltipChildCont {
  background-color: #444444;
  border-radius: 3px;
  color: white;
  padding: 3px;
  margin-bottom: 3px;
}
#tooltipChildCont:hover {
  background-color: #2d2d2d;
}

#tooltipCont {
}
#tooltipContCount {
  font-size: 30pt;
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.search {
  float: left;
  font: 10px sans-serif;
  width: 200px;
}

ul.select2-results {
  max-height: 100px;
}

.select2-container:focus {
  outline: none !important;
}
.select2-selection:focus {
  outline: none !important;
}

.select2-container,
.select2-drop,
.select2-search {
  font: 10px sans-serif;
  width: 300px !important;
}
.select2-search input {
  font: 10px sans-serif;
  width: 290px !important;
}
.select2-search input:focus {
  outline: none;
}

.select2-selection__clear {
  font-weight: 900;
}

#block_container {
  display: inline;
}
