.node {
  cursor: pointer;
}

.overlay {
  background-color: #eee;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
  display: none;
}

.hidden {
  display: none;
}

div.node_tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

div.node_tooltip a:link {
  color: #00c;
  text-decoration: underline;
} /* unvisited links */
div.node_tooltip a:visited {
  color: #c00;
} /* visited links   */
div.node_tooltip a:hover {
  color: #00c;
} /* user hovers     */
div.node_tooltip a:active {
  color: #ccc;
} /* active links    */

#toolTipBtn {
  background-color: #3949ab;
  border-radius: 3px;
  color: aliceblue;
  padding: 5px;
}
#toolTipBtnLink {
  text-decoration: none;
  color: aliceblue;
}

#toolTipBtn:hover {
  background-color: #1b2b8d;
}
#tooltipChildCont {
  background-color: #3949ab;
  border-radius: 3px;
  color: black;
  padding-bottom: 2px;
  margin-bottom: 3px;
}
#tooltipChildCont:hover {
  background-color: #1b2b8d;
}

#tooltipCont {
}
#tooltipContCount {
  font-size: 35pt;
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.search {
  float: left;
  font: 10px sans-serif;
  width: 200px;
}

ul.select2-results {
  max-height: 100px;
}

.select2-container:focus {
  outline: none !important;
}
.select2-selection:focus {
  outline: none !important;
}

.select2-container,
.select2-drop,
.select2-search {
  font: 10px sans-serif;
  width: 300px !important;
}
.select2-search input {
  font: 10px sans-serif;
  width: 290px !important;
}
.select2-search input:focus {
  outline: none;
}

.select2-selection__clear {
  font-weight: 900;
}

#block_container {
  display: inline;
}
